<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="msapplication-TileColor" content="#e2ff38">
        <meta name="msapplication-TileImage" content="assets/img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#e2ff38">
        <title>Movimiento Antiestatista | #NiUnPesoMásAlEstado</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/img/favicon/manifest.json">

    </head>
    <body>    
        <div class="container" id="v-root">
            <h1 class="main-title">#NiUnPesoMásAlEstado</h1>
            <tabs>
                <div slot="tabwrap">
                    <tab name="tabA" text="Empleado" v-bind:selected="true">
                        <div slot="tabinner">
                            <div id="app">
                                <div class="content">
                                    <div class="checkbox">
                                        <label :class="checkedA ? 'checked' : 'unchecked'"><input type="checkbox" v-model="checkedA">tag A1</label>
                                        <label :class="checkedB ? 'checked' : 'unchecked'"><input  type="checkbox" v-model="checkedB">tag A2</label>
                                        <label :class="checkedC ? 'checked' : 'unchecked'"><input type="checkbox" v-model="checkedC">tag A3</label>
                                    </div>                                    
                                    <p class="subtitle"><strong>A</strong> Section</p>
                                    <h1 class="title">Accordion</h1>
                                    <hr/>
                                    <p>A Vue accordion component using styles provided by the Bulma CSS framework.</p>
                                    <section class="section">
                                        <h3>Multiple Active Items</h3>
                                        <p>Add the <code>multiple</code> attribute to allow more than one accordion item's details to be showing.</p>
                                        <accordion v-if="checkedA" id="accordion-example-2" :content="exampleA1" multiple="multiple"></accordion>
                                        <accordion v-if="checkedB" id="accordion-example-2" :content="exampleA2" multiple="multiple"></accordion>
                                        <accordion v-if="checkedC" id="accordion-example-2" :content="exampleA3" multiple="multiple"></accordion>
                                    </section>
                                </div>
                            </div> 
                        </div>
                    </tab>
                    <tab name="tabB" text="Cuentapropista">
                        <div slot="tabinner">
                            <div id="app">
                                <div class="content">
                                    <p class="subtitle"><strong>B</strong> Section</p>
                                    <h1 class="title">Accordion</h1>
                                    <hr/>
                                    <p>A Vue accordion component using styles provided by the Bulma CSS framework.</p>
                                    <section class="section">
                                        <h3>Multiple Active Items</h3>
                                        <p>Add the <code>multiple</code> attribute to allow more than one accordion item's details to be showing.</p>
                                        <accordion id="accordion-example-2" :content="exampleB" multiple="multiple"></accordion>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab name="tabC" text="Emprendedor">
                        <div slot="tabinner">
                            <div id="app">
                                <div class="content">
                                    <p class="subtitle"><strong>C</strong> Section</p>
                                    <h1 class="title">Accordion</h1>
                                    <hr/>
                                    <p>A Vue accordion component using styles provided by the Bulma CSS framework.</p>
                                    <section class="section">
                                        <h3>Multiple Active Items</h3>
                                        <p>Add the <code>multiple</code> attribute to allow more than one accordion item's details to be showing.</p>
                                        <accordion id="accordion-example-2" :content="exampleC" multiple="multiple"></accordion>
                                    </section>
                                </div>
                            </div> 
                        </div>
                    </tab>                    
                </div>
            </tabs>
        </div>    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.js"></script>
        <script src="js/script.js"></script>   
    </body>
</html>